<app-site-header></app-site-header>

<app-welcome-banner></app-welcome-banner>

<!-- ***** ACADEMY PACKAGES: CRICKET ***** -->
<section class="section padding-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
        <div class="left-heading">
          <h2 class="section-title" style="font-family:'king-richard' !important; ">ACADEMY PACKAGES: CRICKET <hr></h2>
         <h6 style="font-size: 15px !important; font-weight: 700; text-transform: uppercase;"> <i class="fa fa-bolt" aria-hidden="true" style="color: red;font-size: 20px"></i>
           BEGINNER / INTERMEDIATE / 1 MONTH</h6>
          <ul style="margin-top: 30px; padding-left: 20px;">
            <li>Tue-Thu-Sat, 3:30-6:30 PM</li>
            <li>Sun, 7:30AM to 10:30 AM </li>
            <li>9 Hours/Week</li>
          </ul>
          <h6 style="color: red;margin-top:20px; font-weight: 700;padding-left: 20px; font-size: 22px;"><i class="fa fa-inr" aria-hidden="true" style="color: red;"></i>
            2,360*</h6>
          <h6 style="text-align: right;margin-top: 20px;">+ One Time Registration Fee:<i class="fa fa-inr" aria-hidden="true"></i> 3,000 (*Taxes Extra)</h6>
        </div>

      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
    </div>
  </div>
</section>
<!-- ***** ACADEMY PACKAGES: CRICKET End ***** -->

<!-- ***** People Behind Us Start ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">People Behind Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content" style="padding-top: 10px;">
            <div style="padding-left: 12px;">
              <img src="assets/images/testimonial-author-1.png" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Sharafat Khan</h3>
              <span>Managing Director</span>
            </div>
            <br><br><p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content" style="padding-top: 10px;">
            <div style="padding-left: 12px;">
              <img src="assets/images/testimonial-author-1.png" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Sharafat Khan</h3>
              <span>Managing Director</span>
            </div>
            <br><br><p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content" style="padding-top: 10px;">
            <div style="padding-left: 12px;">
              <img src="assets/images/testimonial-author-1.png" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Sharafat Khan</h3>
              <span>Managing Director</span>
            </div>
            <br><br><p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->
    </div>
  </div>
</section>
<!-- ***** Testimonials End ***** -->
<app-couches></app-couches>
<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1>Features & Facilities</h1>
            <p> Cricket has always been a popular sport in India; every young kid aspires to become a cricket legend like Sachin Tendulkar, Kapil Dev and many others. But not all are lucky enough to display their talent and play for the country.</p>
          </div>
        </div>
      </div>

      <!-- ***** Mini Box Start ***** -->
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Best Couches</strong>
            <span>Facilitating the best coaches is our aim for our learners so that they achieve what they aim. </span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Sketch Up</strong>
            <span>Opportunity to learn from experts in the field of cricket through a fun and innovative environment.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Discuss</strong>
            <span>We believe in your passion for cricket and make you deliver the best. </span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Revise</strong>
            <span>Managed & Shaped by Experienced & Senior Ranji Stalwarts.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Approve</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Launch</strong>
            <span>Godard pabst prism fam cliche.</span>
          </a>
        </div>
      </div>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- ***** Home Parallax End ***** -->
<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>200</strong>
            <span>Match Played</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>63</strong>
            <span>Events Played</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>18</strong>
            <span>Awards Wins</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>600</strong>
            <span>Students Enrolled</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Blog Entries</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Vivamus ac vehicula dui</a>
            </h3>
            <div class="text">
              Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Phasellus convallis augue</a>
            </h3>
            <div class="text">
              Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Nam gravida purus non</a>
            </h3>
            <div class="text">
              Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
            </div>
            <a href="#" class="main-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->
<!-- ***** Counter Parallax End ***** -->
<app-contact></app-contact>

<app-site-footer></app-site-footer>
