<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="Softy Pinko"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="#welcome" class="active">Home</a></li>
            <li><a href="#features">About</a></li>
            <li><a href="#work-process">Events</a></li>
            <li><a href="#testimonials">Gallery</a></li>
            <li><a href="#pricing-plans">Features</a></li>
            <li><a href="#blog">Blog Entries</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <li><a [routerLink]="'/sign-in'" routerLinkActive="active"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i></a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->


