<!-- ***** Couches Starts ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading">
          <h2>Coaches <em></em></h2>
          <p style="font-family: CharisSILItalic; font-size: 20px; padding-top: 20px;padding-bottom: 20px;">To discover latent cricketing talent and nurture cricketing talent by imparting scientific and advanced training for
            honing the cricketing skills. To make best efforts for the development and promotion of
            Cricket by teaching the ‘secrets’ of achieving peak mental and physical performance- always with unyielding integrity</p>
        </div>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
           data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <div class="owl-carousel owl-theme">
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Author One"></i>
            </div>
            <div class="testimonial-content">
              <h4>Sharafat Khan</h4>
              <p>“Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus
                urna elit in mauris.”</p>
              <span>Batting Couch</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Second Author"></i>
            </div>
            <div class="testimonial-content">

              <h4>Sharafat Khan</h4>
              <p>“Morbi non mi luctus felis molestie scelerisque. In ac libero viverra, placerat est
                interdum, rhoncus leo.”</p>
              <span>Couch</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Author Third"></i>
            </div>
            <div class="testimonial-content">
              <h4>Sharafat Khan</h4>
              <p>“Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                congue a fringilla sed, maximus et urna.”</p>
              <span>Senior Couch</span>
            </div>
          </div>
          <div class="item service-item">
            <div class="author">
              <i><img src="assets/images/testimonial-author-1.png" alt="Fourth Author"></i>
            </div>
            <div class="testimonial-content">
              <h4>Sharafat Khan</h4>
              <p>"Fusce rutrum in dolor sit amet lobortis. Ut at vehicula justo. Donec quam dolor,
                congue a fringilla sed, maximus et urna."</p>
              <span>Batting Couch</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Couches Ends ***** -->
